body {
	margin: 0;
	padding: 0;
	font: 15px Verdana, sans-serif;
	line-height: 1.8em;
	color: black;
	background: white;
}

#container {
	width: 58em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
}

#main {
  padding-right: 1em;
  padding-left: 1em;
}

h2 {
  font-size: 1.8em;
  font-weight: normal;
  line-height: 1.4em;
  border-bottom: 1px dotted #ddd;
  padding-bottom: 0.2em;
  margin-bottom: -0.3em;
  margin-top: 0;
}

h1 {
  font-size: 2em;
  font-weight: normal;
	border-bottom: 1px dotted #ddd;

}

h1, .post {
  padding-bottom: 8px;
	margin-bottom: 48px;
}

.post .title a {
  color: black;
  text-decoration: none;
  border: none;
  padding: 0;
  margin: 0;
  background: white;
}

.post .title a:hover {
  border: none;
}

#header {
  color: #999;
  margin-top: -1em;
  padding-bottom: 1em;
}

#header a {
  color: #999;
  text-decoration: none;
}

#header a:hover {
  color: #004491;
  border-bottom: 1px solid #004491;
}

.meta {
  font-size: 0.9em;
  color: #999;
  border-top: 1px dotted #ddd;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  margin-top: -0.5em;
}

.meta a {
  color: #aaa;
  text-decoration: none;
  border-bottom: 1px dotted;
}

.content a {
  color: #004491;
  text-decoration: none;
  border-bottom: 1px dotted #004491;
}

.content a:hover {
  border-bottom: 1px solid;
}

.tags a {
  color: #449100;
  padding-left: 0.3em;
  padding-right: 0.3em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  text-decoration: none;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  background: #CCE1aa;
  border: none;
}

.tags a:hover {
  background: #CCC;
  color: #444;
}

.tags a:active {
  background:  #444;
  color: #ccc;
}

pre {
  font: 0.9em Monaco, monospace;
  line-height: 1.4em;
  display: block;
  color: white;
  background: #222;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  padding: 0.6em;
}

.meta .date a {
  border: none;
}

.meta .date a:hover {
  color: #004491;
  border-bottom: 1px solid #004491;
}
		
