$highlight: rgb(174, 196, 235);
$complement: rgb(235, 235, 235);
$black: rgb(0, 0, 0);

$light-complement: fade-out(complement($highlight), 0.85);
$lighter-complement: fade-out(complement($highlight), 0.97);

$lightgrey: #fdfcf9;
$darkgrey: #cfcabf;
$darkergrey: #4f4a40;

$base-size: 23px;
$line-height-ratio: 1.7;
$reduced-line-height-ratio: 1.5;
$line-height: ($line-height-ratio * 1em);
$reduced-line-height: ($reduced-line-height-ratio * 1em);
$ratio: 1.12;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
  font: $base-size "ff-dagny-web-pro-1", "ff-dagny-web-pro-2";
  color: $black;
  padding-left: 8px;
  padding-right: 8px;
  line-height: $reduced-line-height;
  margin-bottom: $reduced-line-height;
}

p {
  margin-bottom: $reduced-line-height;
}

a, a:hover {
  text-decoration: none;
  color: $black;
}

h1, h2, h3, h4, h5 {
  font-family: "adelle-1", "adelle-2";
  font-weight: normal;
}

h1 {
  font-size: ($base-size * $ratio * $ratio * $ratio * $ratio * $ratio);
  line-height: ($reduced-line-height / ($ratio * $ratio * $ratio * $ratio * $ratio));
  padding-bottom: ($reduced-line-height / ($ratio * $ratio * $ratio * $ratio * $ratio * 4));
  margin-bottom: ($reduced-line-height * 3 / ($ratio * $ratio * $ratio * $ratio * $ratio * 4));
  border-bottom: 2px solid $complement;
}

h2, .related-links h1 {
  font-size: ($base-size * $ratio * $ratio);
  padding-bottom: ($reduced-line-height / ($ratio * $ratio * 4));
  margin-bottom: ($reduced-line-height * 3 / ($ratio * $ratio * 4));
  border-bottom: 2px solid $complement;
}

h3 {
  font-size: ($base-size * $ratio);
  line-height: ($reduced-line-height / $ratio);
  margin-bottom: ($reduced-line-height / $ratio);
}

p a, nav a, footer a, .meta a {
  color: darken($highlight, 40);
  text-decoration: none;
  border-bottom: 2px solid fade-out($highlight, 0.6);

  &:hover {
    color: fade-out($highlight, 0.3);
    border-bottom: 2px solid fade-out($highlight, 0.8);
  }
}

header {
  h1 {
    a {
      text-decoration: none;
      color: $black;
      border-bottom: none;
    }

    a:hover {
      border-bottom: none;
    }
  }
}

nav {
  margin-bottom: ($base-size * $reduced-line-height-ratio * 2);

  ul li:first-child a {
    margin-left: 0;
  }

  .byline {
    color: $black;
    margin-right: 0.1em;
  }
}

article footer, nav {
  font-family: "adelle-1", "adelle-2";
  font-size: 0.85em;
  color: $darkgrey;

  a {
    margin-left: 0.1em;
    margin-right: 0.1em;
  }

  ul {
    display: inline;

    li {
      display: inline;
    }

    li:after {
      content:" · ";
    }

    li:last-child:after {
      content:"";
    }
  }
}

article footer {
  border-top: 2px solid $complement;
  padding-top: (0.1em / 0.9);
  span.author:after, span.date:after { content:" · ";}
  span.author a { margin-left: 0 }
}

article {
  margin-bottom: ($reduced-line-height * 2);

  code {
    font: 0.8em droid-sans-mono-1, droid-sans-mono-2, monospace;
    border: 1px solid $light-complement;
    border-radius: 0.2em;
    padding: 0.0em 0.1em;
    background: $lighter-complement;
  }

  .highlight {
    background: #ffb;
    border-radius: 0.3em;
    padding: 0.8em;

    color: white;
    background: #222;

    margin-top: -0.8em;
    margin-bottom: 0.9em;

    pre {
      font: 0.8em droid-sans-mono-1, droid-sans-mono-2, monospace;
      line-height: 1.25em;
      display: block;

      .s1, .s2, .sx, .mi {
        color: rgb(174, 196, 235);
      }

      .nb, .k, .o, .kp {
        color: rgb(196, 235, 174);
      }

      .ss {
        color: rgb(255, 207, 135);
      }

      .nf {
        color: rgb(255, 255, 160);
      }

      .vi {
        color: rgb(255, 159, 157);
      }

      .c, .c1 {
        color: rgb(160, 160, 160);
      }
    }
  }
}

.related-links {
  font-family: "adelle-1", "adelle-2";

  a.title {
    color: $black;
  }

  a.title:hover {
    color: $highlight;
  }

  .meta {
    font-size: 0.85em;

    .date:after {
      content:" · ";
    }
  }

  ul li {
    color: $darkgrey;
    list-style-type: none;
    margin-bottom: 1.7em;

    ul.tags, ul.tags li {
      display: inline;
    }

    ul.tags li:after {
      content:" · ";
    }

    ul.tags li:last-child:after {
      content:"";
    }
  }
}

.browsershots {
  font-size: 0px;
  line-height: 0px;
  text-align: center;

  .browsershot {
    width: 300px;
  }

  a:hover {
    opacity: 0.5;
  }

  margin-top: (-$base-size * 0.9);
  padding-bottom: ($base-size * 0.9);
}

@media (min-width:560px) {
  nav .byline {
    display: inline;
  }
}

@media (min-width:916px) {
  body {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
}

