<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }} &middot; tomafro.net</title>{% if page.description %}
  <meta name="description" content="{{ page.description }}"/>{% endif %}{% if page.robots %}
  <meta name="robots" content="{{ page.robots }}"/>{% endif %}
  <meta name="verify-v1" content="ADnFYWq1MeVbf8+qNPe/GZTvcEsDgOCgWTWrUIPakz8=" />
  <meta http-equiv="X-UA-Compatible" content="chrome=1" />
  <script type="text/javascript" src="http://use.typekit.com/brv6igt.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <link rel="stylesheet" href="/css/style.css" type="text/css" />
  <link rel="alternate" type="application/atom+xml" href="http://tomafro.net/atom.xml" />
  <link rel="canonical" href="http://tomafro.net{{ page.url }}"/>
  {% unless page.hide_analytics %}
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-1103395-2']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script');
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 
          'http://www') + '.google-analytics.com/ga.js';
      ga.setAttribute('async', 'true');
      document.documentElement.firstChild.appendChild(ga);
    })();
  </script>
  {% endunless %}
</head>
<body>  
  <div id="container">
    <header class="menubar">
      {% include 'menubar' %}
    </header>
    <div id="main">
      {{ page.body }}
    </div>
  </div>
</body>	
</html>