@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: white;
  font: 23px "ff-dagny-web-pro-1", "ff-dagny-web-pro-2";
  color: #0a0600;
  line-height: 1.7em;
  margin-bottom: 1.7em; }

h1, h2, h3, h4, h5 {
  font-family: "adelle-1", "adelle-2";
  font-weight: normal; }

h1 {
  font-size: 40.534px;
  line-height: 0.965em;
  padding-bottom: 0.241em;
  margin-bottom: 0.723em;
  border-bottom: 2px solid rgba(145, 77, 0, 0.15); }

h2, .related-links h1 {
  font-size: 28.851px;
  padding-bottom: 0.339em;
  margin-bottom: 1.016em;
  border-bottom: 2px solid rgba(200, 150, 70, 0.2); }

h3 {
  font-size: 25.76px;
  line-height: 1.518em;
  margin-bottom: 1.518em; }

p {
  line-height: 1.7em;
  margin-bottom: 1.7em; }

a {
  color: #004491;
  text-decoration: none;
  border-bottom: 2px solid rgba(0, 68, 145, 0.15); }

a:hover {
  border-bottom: 2px solid rgba(0, 68, 145, 0.7); }

header h1 a {
  text-decoration: none;
  color: #0a0600;
  border-bottom: none; }
header h1 a:hover {
  border-bottom: none; }

nav {
  margin-bottom: 78.2px; }
  nav ul li:first-child a {
    margin-left: 0; }
  nav .byline {
    color: #0a0600;
    margin-right: 0.1em; }

article footer, nav {
  font-family: "adelle-1", "adelle-2";
  font-size: 0.85em;
  color: #cfcabf; }
  article footer a, nav a {
    margin-left: 0.1em;
    margin-right: 0.1em; }
  article footer ul, nav ul {
    display: inline; }
    article footer ul li, nav ul li {
      display: inline; }
    article footer ul li:after, nav ul li:after {
      content: " · "; }
    article footer ul li:last-child:after, nav ul li:last-child:after {
      content: ""; }

article footer {
  border-top: 2px solid rgba(200, 150, 70, 0.2);
  padding-top: 0.111em; }
  article footer span.author:after, article footer span.date:after {
    content: " · "; }
  article footer span.author a {
    margin-left: 0; }

article {
  margin-bottom: 3.4em; }
  article code {
    font: 0.8em droid-sans-mono-1, droid-sans-mono-2, monospace;
    border: 1px solid rgba(200, 150, 70, 0.2);
    border-radius: 0.2em;
    padding: 0.0em 0.1em;
    background: #fdfcf9; }
  article .highlight {
    background: #ffb;
    border-radius: 0.3em;
    padding: 0.8em;
    color: white;
    background: #222;
    margin-top: -0.8em;
    margin-bottom: 0.9em; }
    article .highlight pre {
      font: 0.8em droid-sans-mono-1, droid-sans-mono-2, monospace;
      line-height: 1.25em;
      display: block; }
      article .highlight pre .s1, article .highlight pre .s2, article .highlight pre .sx, article .highlight pre .mi {
        color: #aec4eb; }
      article .highlight pre .nb, article .highlight pre .k, article .highlight pre .o, article .highlight pre .kp {
        color: #c4ebae; }
      article .highlight pre .ss {
        color: #ffcf87; }
      article .highlight pre .nf {
        color: #ffffa0; }
      article .highlight pre .vi {
        color: #ff9f9d; }
      article .highlight pre .c, article .highlight pre .c1 {
        color: #a0a0a0; }

.related-links {
  font-family: "adelle-1", "adelle-2"; }
  .related-links ul li {
    color: #cfcabf;
    list-style-type: none;
    margin-bottom: 1.7em; }
    .related-links ul li ul.tags, .related-links ul li ul.tags li {
      display: inline; }
    .related-links ul li ul.tags li:after {
      content: " · "; }
    .related-links ul li ul.tags li:last-child:after {
      content: ""; }

@media (min-width:560px) {
  nav .byline {
    display: inline; } }
@media (min-width:900px) {
  body {
    width: 900px;
    margin-left: auto;
    margin-right: auto; } }
/*
body {
  margin: 0;
  padding: 0;
  background: white;
  font: 20px "ff-dagny-web-pro-1", "ff-dagny-web-pro-2";
  line-height: 1.7em;
  color: $black;
  padding-left: 8px;
  padding-right: 8px;
}

h1, h2, h3, h4, h5 {
  font-family: "adelle-1", "adelle-2";
  font-weight: normal;
}

a {
  color: $blue;
  text-decoration: none;
  border-bottom: 1px dotted #ccf;
}

a:hover {
  border-bottom: 2px solid #ccf;
}

article footer, nav {
  padding-top: 0.4em;
  font-family: "adelle-1", "adelle-2";
  font-size: 0.9em;
  color: $darkgrey;

  a {
    margin-left: 0.2em;
    margin-right: 0.2em;
  }

  ul {
    display: inline;
    li {
      display: inline;
    }
    li:after {
      content:" · ";
    }
    li:last-child:after {
      content:"";
    }
  }
}

article footer {
  border-top: 2px solid $grey;
}

article {
  margin-top: 3em;
  margin-bottom: 3em;
  width: 100%;

  p {
    margin-top: 1em;
    margin-bottom: 1em;
    code {
      border: 2px solid $grey;
      border-radius: 0.2em;
      padding: 0.0em 0.1em;
      background: $lightgrey;
      font: 0.8em droid-sans-mono-1, droid-sans-mono-2, monospace;
    }
  }

  img {
    width: 100%;
    text-align: center;
  }

  header {
    h1 {
      font-size: 1.8em;
      padding-bottom: 0.2em;
      line-height: 1.5em;
      border-bottom: 2px solid $grey;
    }

    a {
      color: black;
      border: none;
    }

    a:hover {
      border: none;
    }
  }

  div.content {
    margin-top: 1em;
    margin-bottom: 1.2em;

    h2, h3 {
      font-size: 1.4em;
      padding-top: 0.4em;
      margin-top: 0.4em;
      margin-bottom: 0.4em;
      padding-bottom: 0.2em;
      border-bottom: 2px solid $grey;
      border-top: 2px solid $grey;
    }

    .browsershots {
      margin-left: -12px;
      margin-right: -12px;
      text-align: center;

      a {
        border: none;
      }

      a:hover {
        opacity: 0.5;
      }

      img {
        width: 300px;
        margin-left: 9px;
        margin-right: 9px;
      }
    }

    pre {
      margin-top: 1em;
      margin-bottom: 1.4em;
      font: 0.8em droid-sans-mono-1, droid-sans-mono-2, monospace;
      line-height: 1.4em;
      border-radius: 0.3em;
      display: block;
      color: white;
      background: #222;
      padding: 0.8em;

      .s1, .s2, .sx, .mi {
        color: rgb(174, 196, 235);
      }

      .nb, .k, .o, .kp {
        color: rgb(196, 235, 174);
      }

      .ss {
        color: rgb(255, 207, 135);
      }

      .nf {
        color: rgb(255, 255, 160);
      }

      .vi {
        color: rgb(255, 159, 157);
      }

      .c, .c1 {
        color: rgb(160, 160, 160);
      }
    }
  }

  footer span.author:after, footer span.date:after { content:" · ";}
}

section.related-links {
  font-family: "adelle-1", "adelle-2";
  padding-bottom: 2em;

  h1 {
    font-size: 1.2em;
    padding-bottom: 0.1em;
    line-height: 1.5em;
    border-bottom: 2px solid $grey;
  }

  .date:after {
    content:" · ";
  }

  .title {
    font-size: 1.2em;
  }

  .meta {
    font-size: 0.8em;
    margin-top: -0.2em;

    a {
      color: $black;
      border-bottom: 1px dotted #ccc;
    }

    a:hover {
      border-bottom: 2px solid #ccc;
    }
  }

  ul li {
    color: $darkgrey;
    padding-top: 1em;
    list-style-type: none;

    ul.tags, ul.tags li {
      display: inline;
    }

    ul.tags li:after {
      content:" · ";
    }

    ul.tags li:last-child:after {
      content:"";
    }
  }
}

nav .byline {
  display: none;
  color: black;
}

@media (min-width:560px) {
  body {
    font: 21px "ff-dagny-web-pro-1", "ff-dagny-web-pro-2";
    line-height: 1.7em;
  }

  nav .byline {
    display: inline;
  }
}

@media (min-width:960px) {
  body {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}
*/
