@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background: white;
  font: 16px "ff-dagny-web-pro-1", "ff-dagny-web-pro-2";
  line-height: 1.7em;
  color: #0a0600;
  padding-left: 8px;
  padding-right: 8px; }

h1, h2, h3, h4, h5 {
  font-family: "adelle-1", "adelle-2";
  font-weight: normal; }

a {
  color: #004491;
  text-decoration: none;
  border-bottom: 1px dotted #ccf; }

a:hover {
  border-bottom: 1px solid #ccf; }

article footer, nav {
  padding-top: 0.4em;
  font-family: "adelle-1", "adelle-2";
  font-size: 0.9em;
  color: #cfcabf; }
  article footer a, nav a {
    margin-left: 0.2em;
    margin-right: 0.2em; }
  article footer ul, nav ul {
    display: inline; }
    article footer ul li, nav ul li {
      display: inline; }
    article footer ul li:after, nav ul li:after {
      content: " · "; }
    article footer ul li:last-child:after, nav ul li:last-child:after {
      content: ""; }

article footer {
  border-top: 1px solid #dfdaef; }

article {
  margin-top: 3em;
  margin-bottom: 3em;
  width: 100%; }
  article p {
    margin-top: 1em;
    margin-bottom: 1em; }
    article p code {
      border: 1px solid #dfdaef;
      border-radius: 0.2em;
      padding: 0.0em 0.1em;
      background: #fdfcf9;
      font: 0.8em droid-sans-mono-1, droid-sans-mono-2, monospace; }
  article img {
    width: 100%;
    text-align: center; }
  article header h1 {
    font-size: 1.8em;
    padding-bottom: 0.2em;
    line-height: 1.5em;
    border-bottom: 1px solid #dfdaef; }
  article header a {
    color: black;
    border: none; }
  article header a:hover {
    border: none; }
  article div.content {
    margin-top: 1em;
    margin-bottom: 1.2em; }
    article div.content h2, article div.content h3 {
      font-size: 1.4em;
      padding-top: 0.4em;
      margin-top: 0.4em;
      margin-bottom: 0.4em;
      padding-bottom: 0.2em;
      border-bottom: 1px solid #dfdaef;
      border-top: 1px solid #dfdaef; }
    article div.content .browsershots {
      margin-left: -12px;
      margin-right: -12px;
      text-align: center; }
      article div.content .browsershots a {
        border: none; }
      article div.content .browsershots a:hover {
        opacity: 0.5; }
      article div.content .browsershots img {
        width: 300px;
        margin-left: 9px;
        margin-right: 9px; }
    article div.content pre {
      margin-top: 1em;
      margin-bottom: 1.4em;
      font: 0.8em droid-sans-mono-1, droid-sans-mono-2, monospace;
      line-height: 1.4em;
      border-radius: 0.3em;
      display: block;
      color: white;
      background: #222;
      padding: 0.8em; }
      article div.content pre .s1, article div.content pre .s2, article div.content pre .sx, article div.content pre .mi {
        color: #aec4eb; }
      article div.content pre .nb, article div.content pre .k, article div.content pre .o, article div.content pre .kp {
        color: #c4ebae; }
      article div.content pre .ss {
        color: #ffcf87; }
      article div.content pre .nf {
        color: #ffffa0; }
      article div.content pre .vi {
        color: #ff9f9d; }
      article div.content pre .c, article div.content pre .c1 {
        color: #a0a0a0; }
  article footer span.author:after, article footer span.date:after {
    content: " · "; }

section.related-links {
  font-family: "adelle-1", "adelle-2";
  padding-bottom: 2em; }
  section.related-links h1 {
    font-size: 1.2em;
    padding-bottom: 0.1em;
    line-height: 1.5em;
    border-bottom: 1px solid #dfdaef; }
  section.related-links .date:after {
    content: " · "; }
  section.related-links .title {
    font-size: 1.2em; }
  section.related-links .meta {
    font-size: 0.8em;
    margin-top: -0.2em; }
    section.related-links .meta a {
      color: #0a0600;
      border-bottom: 1px dotted #ccc; }
    section.related-links .meta a:hover {
      border-bottom: 1px solid #ccc; }
  section.related-links ul li {
    color: #cfcabf;
    padding-top: 1em;
    list-style-type: none; }
    section.related-links ul li ul.tags, section.related-links ul li ul.tags li {
      display: inline; }
    section.related-links ul li ul.tags li:after {
      content: " · "; }
    section.related-links ul li ul.tags li:last-child:after {
      content: ""; }

nav .byline {
  display: none;
  color: black; }

@media (min-width:560px) {
  body {
    font: 21px "ff-dagny-web-pro-1", "ff-dagny-web-pro-2";
    line-height: 1.7em; }

  nav .byline {
    display: inline; } }
@media (min-width:960px) {
  body {
    width: 960px;
    margin-left: auto;
    margin-right: auto; } }
