.s1, .s2, .sx, .mi {
  color: rgb(154, 176, 235);
}

.nb, .k, .o {
  color: #CCE1aa;
}

.ss {
  color: rgb(255, 207, 135);
}

.vi {
  color: rgb(255, 129, 137);
}

.c, .c1 {
  color: rgb(160, 160, 160);
}