<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>tomafro.net &middot; {{ page.title }}</title>
  <meta name="verify-v1" content="ADnFYWq1MeVbf8+qNPe/GZTvcEsDgOCgWTWrUIPakz8=" >
  <link rel="stylesheet" href="/css/style.css" type="text/css" />
  <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
  <link rel="alternate" type="application/rss+xml" href="http://blog.tomafro.net/atom.xml" />
</head>
<body>
  
  <div id="container">
    <div id="header" class="menubar">
      {% include menubar.html %}
    </div>
    <div id="main">
      {{ content }}
    </div>
    <div id="footer" class="menubar">
      {% include menubar.html %}
    </div>
  </div>
  {% include google-analytics.html %}
</body>	
</html>