---
title: "Tom Ward's blog"
description: "Personal blog of Tom Ward, in which he writes about ruby, rails and web development, as well as other random ephemera"
layout: "_layouts/default.mustache"
destination_path: "index.html"
---
{{#site.posts.take-6}}
{{{article}}}
{{/site.posts.take-6}}
<section class="related-links">
<h1>Older posts:</h1>
<ul>
{{#site.posts.leave-6}}
<li>
  <a class='title' href="{{url}}">{{title}}</a>
  <div class='meta'>
  <span class='date'><a href="{{{ date_url }}}">{{{ short_date }}}</a></span>
  <ul class='tags'>{{#tags}}
    <li><a href="/tags/{{{to_s}}}" rel="tag">{{{to_s}}}</a></li>{{/tags}}
  </ul>
  </div>
</li>
{{/site.posts.leave-6}}
</ul>
</section>